/*--------------------Fonts--------------------*/
body {
	font: 100%/1.5 Arial, Helvetica, sans-serif;
	max-width: 960px;
	margin: 0 auto;
}

body p {
	font: 1.250em/1.5 'Galdeano', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font: 2.250em/1.5 'Galdeano', Arial, Helvetica, sans-serif;
}

a:visited {
	color: #7f614c;
}

a:hover {
	color: #fff;
}

/*--------------------Branding--------------------*/
header {
	width: 100%; /* 960px */
	height: 65px;
	margin: 0 auto;
	background: rgba(100, 35, 15, 1);
}

h1 {
	text-indent: -6187.500em; /* -99000px */
	width: 0;
	height: 0;
	margin: 0;
}

.logo {
	float: left;
	margin: 1.0416667%; /* 10px */
	max-width: 100%;
}

/*--------------------Navigation--------------------*/
header ul {
	width: 34.375%; /* 330px */
	margin: 0 0 0 65.625%; /* 630px */
	padding: 0;
	list-style-type: none;
}

header ul li {
	width: 27.272727%; /* 90px */
	margin: 0 6.0606061% 0 0; /* 0 20px 0 0 */
	float: left;
}

header ul li a {
	text-decoration: none;
	text-align: center;
	display: block;
	height: 30px;
	line-height: 30px;
	color: #c0974e;
	border-right: 2px ridge #c0974e;
	border-bottom: 2px ridge #c0974e;
	border-left: 2px ridge #c0974e;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

header ul li a:visited {
	color: #7f614c;
	border-right: 1px solid #7f614c;
	border-bottom: 1px solid #7f614c;
	border-left: 1px solid #7f614c;
}

header ul li a:hover {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fc1;
	background: rgba(255, 205, 15, .25);
	border-right: 2px ridge #fc1;
	border-bottom: 2px ridge #fc1;
	border-left: 2px ridge #fc1;
}

header ul li a:active {
	color: #fff;
	border-right: 2px ridge #fff;
	border-bottom: 2px ridge #fff;
	border-left: 2px ridge #fff;
}


/*--------------------CTA--------------------*/
article {
	clear: both;
	width: 100%; /* 960px */
	color: #fff;
	background: rgba(95, 75, 15, .75) url(../images/paper1.png) no-repeat;
	border-top: 3px ridge #c0974e;
	border-bottom: 3px ridge #c0974e;
	overflow: hidden;
}

article img {
	float: left;
	width: 52.08333%; /* 500px (native) */
	max-width: 100%;
	margin: 1.0416667%; /* 10px */
}

article h2 {
	text-shadow: 2px 2px 2px #333;
	margin: 1.0416667%; /* 10px */
}

article p {
	line-height: 1.8;
	text-shadow: 2px 2px 2px #333;
	margin: 10px 2.0833333% 10px 1.0416667%; /* 10px 20px 10px 10px */
}

#learn {
	margin: 25px 0 25px 41.666667%; /* 25px 20px 25px 400px */
	font: 1.750em/1.5 Arial, Helvetica, sans-serif;
}

article .button {
	text-decoration: none;
	margin: 2.0833333%; /* 20px */
	padding: 3.6333333% 21.4333332%; /* 20px 120px; */
	border-radius: 20px;
	color: #fff;
	border: 2px groove #c0974e;
	background: #c0974e;
	background: -webkit-gradient(linear, left top, left bottom, from(#c0974e), to(#594625));
	background: -moz-linear-gradient(top,  #c0974e,  #594625);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

article .button:hover {
	background: #594625;
	background: -webkit-gradient(linear, left top, left bottom, from(#8c6e3a), to(#594625));
	background: -moz-linear-gradient(top,  #8c6e3a,  #594625);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

article .button:active {
	color: #bfbfbf;
	background: -webkit-gradient(linear, left top, left bottom, from(#594625), to(#c0974e));
	background: -moz-linear-gradient(top,  #594625,  #c0974e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/*--------------------Gallery--------------------*/
section {
	clear: both;
	background: #e0d9ba;
	overflow: hidden;
}

.gallery h2 {
	margin: 1.0416667%; /* 10px */
	text-shadow: 2px 2px 2px #999;
}

.gallery ul {
	clear: both;
	list-style-type: none;
	width: 52.083333%; /* 500px */
	margin: 10px 0 25px 2.0833333%; /* 10px 0 25px 20px */
	padding: 0;
	line-height: 0;
}

.gallery ul li {
	float: left;
	margin: 0 5% 25px 0; /* 0 25px 25px 0 of 500px */
	padding: 0;
}

.gallery ul li a {
	display: block;
	border: 3px groove #fc0;
}

/*--------------------Role--------------------*/
.role h2 {
	clear: both;
	margin: 1.0416667%; /* 10px */
	text-shadow: 2px 2px 2px #999;
}

.role p {
	margin: 0 2.0833333% 25px 2.0833333%; /* 0 20px 25px 20px */
}

/*--------------------Lore--------------------*/
aside h2 {
	margin: 1.0416667%; /* 10px */
	text-shadow: 2px 2px 2px #999;
}

aside p {
	margin: 0;
}

.lore {
	margin: 0 2.0833333% 25px 2.0833333%; /* 0 20px 25px 20px */
	-ms-column-count: 3;
	-ms-column-gap: 50px;
	-moz-column-count: 3;
	-moz-column-gap: 50px;
	-webkit-column-count: 3;
	-webkit-column-gap: 50px;
	-o-column-count: 3;
	-o-column-gap: 50px;
	column-count: 3;
	column-gap: 50px;
}

/*--------------------Footer--------------------*/
footer {
	background: rgba(100, 35, 15, 1);
	border-top: 3px ridge #c0974e;
	overflow: hidden;
}

footer p {
	margin: 2.0833333%; /* 20px */
}

/*--------------------Media Queries--------------------*/

	/* Tablet Portrait to Standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
		#learn {
			margin: 25px auto;
			padding: 0 auto;
		}		
		
		body {
		color: purple;
		}
	}
	
	/* Mobile Landscape to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		header ul {
			display: none;
		}

		article img {
		float: none;
		}
		
		#learn {
			float: none;
			margin: 25px auto;
			padding: 0 auto;
		}		

		/* #learn {
			float: none;
			max-width: 39.583333%;
			margin: 25px auto;
		} */
		
		body {
		color: green;
		}
	}
	
	/* Mobile Portrait to Mobile Landscape (devices and browsers) */
	@media only screen and (max-width: 479px) {		
		header ul {
			display: none;
		}
		
		article img {
			display: none;
		}
		
		#learn {
			float: none;
			margin: 25px auto;
			padding: 0 auto;
		}		
		
		/* #learn {
			margin: 25px 0 25px 0;
		} */
		
		aside p {
			margin-bottom: 10px;
		}
				
		.lore {
			margin: 0 2.0833333% 25px 2.0833333%; /* 0 20px 25px 20px */
			-ms-column-count: 1;
			-moz-column-count: 1;
			-webkit-column-count: 1;
			-o-column-count: 1;
			column-count: 1;
		}
	
			
		body {
		color: orange;
		}
	}